/* Custom Styling */
h1 {
  font-weight: 600;
  color: #333;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
/* General Body Style */
body {
    background-color:  #fef9f9;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

/* Headings */
h1, h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

/* About Section */
#about {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Projects Cards */
.card {
     
     background-color: #ffffff;
     width: auto;
     height: 300px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     border-radius: 0.5rem;
     padding: 1rem;
     margin: 2rem 1.5rem 0 0;
     transition: 0.3s ease;
}

.card:hover {
     background-color: cornflowerblue;
     transform: scale(1.05);
     cursor: pointer;
}

.card-img-top{
    
     margin-right: 2rem;
     width: 100px;
     height: 100px;
     object-fit: cover;
     border-radius: 0.5rem;
}

.card-title { font-weight: 600; margin-top: 0.5rem; }
.card-text { font-size: 0.85rem; opacity: 0.8; }


/* Contact Form */
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #343a40;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
